.abcdemoapp{
    .topPlaceholder{
        height:60px;
        text-align:center;
        line-height:2.5;
        font-weight:bold;
        align-items: center;
        justify-content:center;
    }
    .bottomPlaceHolder{
        height:40px;
        text-align:center;
        line-height:2.5;
        font-weight:bold;
        align-items: center;
        justify-content:center;
    }
}